// fade-up
@keyframes bx-fade-up {
  from {
    opacity: 0;
    transform: translateY(18px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

//fade-in - on load
@keyframes bx-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

// Error - validation sliding in from below  - a quick alert
@keyframes bx-fade-up-sm {
  from {
    opacity: 0;
    transform: translateY(8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
